<table class="p-table--mobile-card"
       aria-label="Table showing per-day job statistics for Testflinger">
  <thead>
    <tr>
      <th>Date</th>
      <th>{{ "Queue" if group_by == "queue" else "Client ID" }}</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    {% for date, entries in job_buckets|groupby("date") %}
      {% set entries = entries|list %}
      {% for entry in entries %}
        <tr>
          {% if loop.first %}<td rowspan="{{ entries|length + 1 }}" data-heading="Date">{{ date }}</td>{% endif %}
          <td data-heading="{{ 'Queue' if group_by == 'queue' else 'Client ID' }}">{{ entry.key }}</td>
          <td data-heading="Count">{{ entry.count }}</td>
        </tr>
      {% endfor %}
      <tr>
        <td data-heading="{{ 'Queue' if group_by == 'queue' else 'Client ID' }}">
          <strong>Total</strong>
        </td>
        <td data-heading="Count">
          <strong>{{ entries|sum(attribute="count") }}</strong>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
