<table class="p-table--mobile-card"
       aria-label="Table showing statistics for Testflinger users">
  <thead>
    <tr>
      <th>{{ "Queue" if group_by == "queue" else "Client ID" }}</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    {% for total in job_totals %}
      <tr>
        <td data-heading="{{ 'Queue' if group_by == 'queue' else 'Client ID' }}">{{ total.key }}</td>
        <td data-heading="Count">{{ total.count }}</td>
      </tr>
    {% endfor %}
    <tr>
      <td data-heading="{{ 'Queue' if group_by == 'queue' else 'Client ID' }}">
        <strong>Total</strong>
      </td>
      <td data-heading="Count">
        <strong>{{ job_totals|sum(attribute="count") }}</strong>
      </td>
    </tr>
  </tbody>
</table>
