<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Canonical Testflinger server" />
    <meta name="keywords" content="test, test orchestration, testflinger" />
    <title>
      {% if title %}{{ title }} |{% endif %}
      Testflinger
    </title>
    <!-- Site CSS Files -->
    <link href="{{ url_for('static', filename='assets/css/testflinger.css') }}"
          rel="stylesheet" />
    <link rel="stylesheet"
          href="https://assets.ubuntu.com/v1/vanilla-framework-version-4.21.1.min.css" />
    <!-- Circle of friends favicon -->
    <link rel="shortcut icon"
          None="image/png"
          sizes="32x32"
          href="https://assets.ubuntu.com/v1/be7e4cc6-COF-favicon-32x32.png" />
    <link rel="icon"
          type="image/png"
          sizes="16x16"
          href="https://assets.ubuntu.com/v1/16c27f81-COF%20favicon-16x16.png" />
    <!-- Page specific CSS Files -->
    {% block stylesheets %}
    {% endblock stylesheets %}
  </head>
  <body class="is-paper">
    <div class="l-site">
      {% include "_header.html" %}
      <div class="row">
        {% block content %}
        {% endblock content %}
      </div>
      {% include "_footer.html" %}
    </div>
    <script type="text/javascript"
            src="{{ url_for('static', filename='assets/js/filter.js') }}"></script>
  </body>
</html>
