{% extends "base.html" %}
{% set active_page = "jobs" %}
{% set title = "Job" %}
{% block content %}
  <div class="p-strip is-shallow">
    <div class="row">
      <h1 class="p-heading--3">Job Detail - {{ job.job_id }}</h1>
    </div>
  </div>
  <table aria-label="Agent table" class="p-table--mobile-card">
    <tbody>
      <tr>
        <th scope="row">Queue</th>
        <td>
          <a href="{{ url_for('testflinger.queue_detail', queue_name=job.job_data.job_queue) }}">{{ job.job_data.job_queue }}</a>
        </td>
      </tr>
      <tr>
        <th scope="row">State</th>
        <td>{{ job.result_data.job_state }}</td>
      </tr>
      <tr>
        <th scope="row">Created At</th>
        <td>{{ job.created_at.strftime("%Y-%m-%d %H:%M:%S") }}</td>
      </tr>
    </tbody>
  </table>
  <h2 class="p-muted-heading" id="job-definition">
    <a href="#job-definition"
       class="p-link--anchor-heading"
       aria-label="Link to Job Definition section">Job Definition</a>
  </h2>
  <div class="p-tabs">
    <div class="p-tabs__list" role="tablist" aria-label="Job Definition tabs">
      <div class="p-tabs__item">
        <button class="p-tabs__link"
                role="tab"
                aria-selected="true"
                aria-controls="provision-data"
                id="provision-data-tab">Provision Data</button>
      </div>
      {% if job.job_data.firmware_update_data %}
        <div class="p-tabs__item">
          <button class="p-tabs__link"
                  role="tab"
                  aria-selected="false"
                  aria-controls="firmware-update-data"
                  id="firmware-update-data-tab">Firmware Update Data</button>
        </div>
      {% endif %}
      {% if job.job_data.test_data %}
        <div class="p-tabs__item">
          <button class="p-tabs__link"
                  role="tab"
                  aria-selected="false"
                  aria-controls="test-data"
                  id="test-data-tab">Test Data</button>
        </div>
      {% endif %}
    </div>
    <div tabindex="0"
         role="tabpanel"
         id="provision-data"
         aria-labelledby="provision-data-tab">
      <div class="p-code-snippet">
        <pre class="p-code-snippet__block--numbered language-yaml">
          <code>
{{ job.job_data.provision_data }}
          </code>
        </pre>
      </div>
    </div>
    {% if job.job_data.firmware_update_data %}
      <div tabindex="0"
           role="tabpanel"
           id="firmware-update-data"
           aria-labelledby="firmware-update-data-tab"
           hidden>
        <div class="p-code-snippet">
          <pre class="p-code-snippet__block--numbered language-yaml">
            <code>
{{ job.job_data.firmware_update_data }}
            </code>
          </pre>
        </div>
      </div>
    {% endif %}
    {% if job.job_data.test_data %}
      <div tabindex="0"
           role="tabpanel"
           id="test-data"
           aria-labelledby="test-data-tab"
           hidden>
        <div class="p-code-snippet">
          <pre class="p-code-snippet__block--numbered language-yaml">
            <code>
{{ job.job_data.test_data.test_cmds }}
            </code>
          </pre>
        </div>
      </div>
    {% endif %}
  </div>
  {% set phases = [
      {"name": "Provision", "id": "provision", "status": job.result_data.get('provision_status'), "output": job.result_data.get('provision_output')},
      {"name": "Firmware Update", "id": "firmware-update", "status": job.result_data.get('firmware_update_status'), "output": job.result_data.get('firmware_output')},
      {"name": "Test", "id": "test", "status": job.result_data.get('test_status'), "output": job.result_data.get('test_output')}
    ] %}
  {% set phases_with_results = phases | selectattr("output") | selectattr("status", "!=", none) | list %}
  {% if phases_with_results %}
    <h2 class="p-muted-heading" id="phase-results">
      <a href="#phase-results"
         class="p-link--anchor-heading"
         aria-label="Link to Phase Results section">Phase Results</a>
    </h2>
    <div class="p-tabs">
      <div class="p-tabs__list" role="tablist" aria-label="Phase Results tabs">
        {% for phase in phases_with_results %}
          <div class="p-tabs__item">
            <button class="p-tabs__link"
                    role="tab"
                    aria-selected="{{ 'true' if loop.first else 'false' }}"
                    aria-controls="{{ phase.id }}-phase"
                    id="{{ phase.id }}-phase-tab">
              {% if phase.status == 0 %}
                <i class="p-icon--success" aria-label="Success"></i>
              {% else %}
                <i class="p-icon--error" aria-label="Error"></i>
              {% endif %}
              {{ phase.name }}
            </button>
          </div>
        {% endfor %}
      </div>
      {% for phase in phases_with_results %}
        <div tabindex="0"
             role="tabpanel"
             id="{{ phase.id }}-phase"
             aria-labelledby="{{ phase.id }}-phase-tab"
             {% if not loop.first %}hidden{% endif %}>
          <div class="{{ 'p-notification--positive' if phase.status == 0 else 'p-notification--negative' }}">
            <div class="p-code-snippet">
              <div class="scrollable">
                <pre class="p-code-snippet__block"><code>{{ phase.output }}</code></pre>
              </div>
            </div>
            <p class="p-notification__response">
              <span class="p-notification__status">Exit Status:</span> {{ phase.status }}
            </p>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endblock content %}
