{% extends "base.html" %}
{% set active_page = "queues" %}
{% set title = "Queue" %}
{% block content %}
  <div class="p-strip is-shallow">
    <div class="row">
      <h1 class="p-heading--3">Queue Detail - {{ queue.name }}</h1>
    </div>
  </div>
  <table aria-label="Queue Details table" class="p-table--mobile-card">
    <tbody>
      <tr>
        <th scope="row">Description</th>
        <td>{{ queue.description }}</td>
      </tr>
    </tbody>
  </table>
  <div class="p-strip is-shallow" style="margin-top: 1rem;">
    <div class="row">
      <h2 class="p-heading--4">Jobs</h2>
    </div>
  </div>
  <table aria-label="Jobs table" class="p-table--mobile-card">
    <thead>
      <tr>
        <th>Job ID</th>
        <th>State</th>
        <th>Created At</th>
      </tr>
    </thead>
    <tbody>
      {% for job in jobs %}
        <tr class="tr-highlight">
          <td data-heading="Job ID">
            <a href="{{ url_for('testflinger.job_detail', job_id=job.job_id) }}">{{ job.job_id }}</a>
          </td>
          <td data-heading="State">{{ job.result_data.job_state }}</td>
          <td data-heading="Created At">{{ job.created_at.strftime("%Y-%m-%d %H:%M:%S") }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="p-strip is-shallow" style="margin-top: 1rem;">
    <div class="row">
      <h2 class="p-heading--4">Agents</h2>
    </div>
  </div>
  {% include "_agents_table.html" %}
  <div class="p-strip is-shallow">
    <div class="row">
      <h2 class="p-heading--4">Wait Time Percentiles</h2>
    </div>
    <table>
      <thead>
        <tr>
          <th>Percentile</th>
          <th>Wait Time</th>
        </tr>
      </thead>
      <tbody>
        {% for percentile, wait_time in queue_percentile_data.items() %}
          <tr>
            <td>{{ percentile }}th</td>
            <td>{{ wait_time }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %}
