# These values can be used in place of environment variables to configure
# Testflinger. If MONGO_URI is not specified, then it will be built using the
# other values specified
# MONGODB_USERNAME="testflinger"
# MONGODB_PASSWORD="testflinger"
# MONGODB_DATABASE="testflinger_db"
# MONGODB_HOST="mongo"
# MONGODB_URI = "mongodb://mongo:27017/testflinger_db"
