[build-system]
requires = ["setuptools>=78.1.0", "setuptools-scm>=8.2.0"]
build-backend = "setuptools.build_meta"

[project]
name = "testflinger-cli"
description = "Testflinger CLI"
readme = "README.rst"
license-files = ["COPYING"]
dependencies = ["PyYAML", "requests", "xdg-base-dirs", "argcomplete"]
dynamic = ["version"]
requires-python = ">= 3.10"

[project.scripts]
testflinger-cli = "testflinger_cli:cli"
testflinger = "testflinger_cli:cli"

[tool.black]
line-length = 79

[tool.pylint.basic]
good-names = ["k", "v"]

[tool.pylint."messages control"]
disable = ["C0209", "too-many-lines"]
