[build-system]
requires = [
    "setuptools",
    "setuptools-scm",
]
build-backend = "setuptools.build_meta"

[project]
name = "testflinger-cli"
description = "Testflinger CLI"
readme = "README.rst"
dependencies = [
    "PyYAML",
    "requests",
    "xdg-base-dirs",
    "argcomplete",
]
dynamic = ["version"]

[project.scripts]
testflinger-cli = "testflinger_cli:cli"
testflinger = "testflinger_cli:cli"

[tool.black]
line-length = 79