* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
}

main {
    width: 95%;
}

.general-info table {
    text-align: left;
}

.general-info table td {
    padding: 2px 2px 2px 30px;
}

.center {
    margin: auto;
    padding: 10px;
}

/* Header bar related */
.header {
    color: white;
    overflow: hidden;
    background-color: #333;
    padding: 0px 10px;
}

.header a, .header a:visited {
    float: left;
    color: white;
    text-align: center;
    padding: 20px 12px 20px 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
}

.header a.logo {
    color: white;
    background-color: #E95420;
    font-size: 25px;
    font-weight: bold;
}

.header a.logo:hover {
    color: white;
    text-decoration: none;
    /* $color-brand */
    background-color: #E95420;
}

.header a:hover {
    background-color: #2b2b2b;
    color: white;
    text-decoration: underline;
}

.header a.active {
    /* $color-brand */
    background-color: #E95420;
    color: white;
}

.header-right {
    color: white;
    float: right;
}

/* Apply row highlighting and other styles to filter-table divs */
.filter-table table tr:hover {
    background-color: lightgrey;
}

.filter-table table {
    table-layout: auto;
}

.filter-table table th {
    background-color: #333333;
    color: white;
    text-align: left;
    text-decoration: underline;
}

.filter-table table td {
    text-align: left;
}

.scrollable {
    background-color: rgb(230, 230, 230);
    max-height: 500px;
    max-width: 80%;
    overflow: auto;
}

.p-navigation__nav {
    overflow: visible !important;
}
