# Environment
.venv/

# Testflinger directories not needed in the image
charm/
tests/
terraform/

# Unit test / coverage reports
.tox/
.pytest_cache/
.ruff_cache/
coverage.xml
.coverage

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
