version: '3.8'

services:
  mongo:
    image: mongo:7
    env_file:
      - testflinger.env
    ports:
      - 27017:27017
    volumes:
      - mongodb_data:/data/db

  testflinger:
    build: .
    image: testflinger:latest
    restart: always
    env_file:
      - testflinger.env
    ports:
      - 5000:5000
    depends_on:
      - mongo

volumes:
  mongodb_data:
