[tool.poetry]
name = "testflinger"
description = "Testflinger Server"
readme = "README.rst"
version = "1.1.0"                  # specify your version here
authors = []
packages = [
    { include = "src" },
]


[tool.poetry.dependencies]
python = "^3.10"                                        # specify your Python version requirement here
apiflask = "^2.1.1"
flask = "^3.0.3"
flask-pymongo = "^3.0.0"
gunicorn = "^23.0.0"
gevent = "^25.0.0"
prometheus-client = "^0.21.0"
pyyaml = "^6.0.1"
sentry-sdk = { extras = ["flask"], version = "^2.0.1" }
requests = "^2.31.0"
urllib3 = "^2.2.1"
pymongo = "<4.9.0"
pyjwt = "^2.8.0"
bcrypt = "^4.2.0"
prometheus-flask-exporter = "^0.23.1"

[tool.poetry.dev-dependencies]
pytest = "^8.1.2"

[tool.poetry.scripts]
client_credentials_admin = "src.tools.client_credentials_admin:main"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 79
exclude = "charm/lib"

[tool.djlint]
profile = "jinja"
ignore = "H023,H021"
indent = 2

[tool.pytest.ini_options]
pythonpath = ["charm/src", "charm/lib"]

[tool.pylint."messages control"]
disable = ["C0209"]
