#cloud-config
package_update: true
package_upgrade: true
package_reboot_if_required: true
snap:
  commands:
    - snap install lxd --channel=6/stable
    - snap install juju --channel=3/stable
    - snap install charmcraft --channel=3.x/stable --classic
    - snap install terraform --classic
    - snap install microk8s --channel=1.32-strict/stable
    - snap alias microk8s.kubectl kubectl
runcmd:
  - lxd init --auto
  - adduser ubuntu snap_microk8s
  - microk8s status --wait-ready
  - microk8s enable dns
  - microk8s enable hostpath-storage
  - microk8s enable ingress
  - sudo -i -u ubuntu snap run juju bootstrap microk8s microk8s-controller
  - sudo -i -u ubuntu snap run juju bootstrap localhost localhost-controller
  - |
    # workaround to get the localhost-controller to connect to microk8s
    server_url=$(microk8s config | grep server | awk '{print $2;}')
    sed -i "s|server: .*|server: $server_url|g" /var/snap/microk8s/current/credentials/client.config
  - sudo -i -u ubuntu snap run juju add-cloud microk8s --controller localhost-controller
  - sudo -i -u ubuntu snap run juju add-model testflinger-dev-db localhost
  - sudo -i -u ubuntu snap run juju deploy mongodb --channel 5/edge
  - sudo -i -u ubuntu snap run juju offer testflinger-dev-db.mongodb:database mongodb
  - sudo -i -u ubuntu snap run juju add-model testflinger-dev microk8s
