<footer id="footer" class="l-footer--sticky p-strip--highlighted is-dark">
  <nav id="copyright" class="row" aria-label="footer">
    <div class="has-cookie">
      <p>&copy;2023 Canonical Ltd. Ubuntu and Canonical are registered trademarks of Canonical Ltd.</p>
      <ul class="p-inline-list--middot">
        <li class="p-inline-list__item">
          <a href="https://www.ubuntu.com/legal">Legal information</a>
        </li>
        <li class="p-inline-list__item">
          <a href="https://ubuntu.com/legal/data-privacy">Data privacy</a>
        </li>
        <li class="p-inline-list__item">
          <a href="https://github.com/canonical/testflinger/issues">Report a bug on this site</a>
        </li>
      </ul>
    </div>
  </nav>
</footer>
