{% extends 'base.html' %}
{% set active_page = 'agents' %}
{% block content %}
<div class="p-strip is-shallow">
    <div class="row">
        <h1 class="p-heading--3">
            Agents
            <a href="https://testflinger.readthedocs.io/en/latest/explanation/agents/" target="_blank">
                <i class="p-icon--help"></i>
            </a>
        </h1>
    </div>
</div>
<form class="p-search-box">
    <input aria-label="search" type="search" class="p-search-box__input" name="search" placeholder="Search" required
        autocomplete="on">
    <button type="reset" class="p-search-box__reset"><i class="p-icon--close"></i></button>
    <button type="submit" class="p-search-box__button"><i class="p-icon--search"></i></button>
</form>
<table aria-label="Agents table" class="p-table--mobile-card">
    <thead>
        <tr>
            <th>Name</th>
            <th>State</th>
            <th>Updated At</th>
            <th>Job ID</th>
        </tr>
    </thead>
    <tbody>
        {% for agent in agents %}
        <tr class="searchable-row">
            <td><a href="/agents/{{ agent.name }}">{{ agent.name }}</a></td>
            <td>{{ agent.state }}</td>
            <td>{{ agent.updated_at.strftime('%Y-%m-%d %H:%M:%S') }}</td>
            <td class="u-align--right u-truncate"><a href="/jobs/{{ agent.job_id }}">{{ agent.job_id }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}