{% extends "base.html" %}
{% set active_page = "agents" %}
{% block content %}
  <div class="p-strip is-shallow">
    <div class="row">
      <h1 class="p-heading--3">
        Agents
        <a href="https://testflinger.readthedocs.io/en/latest/explanation/agents.html"
           target="_blank">
          <i class="p-icon--help"></i>
        </a>
      </h1>
    </div>
  </div>
  <form class="p-search-box">
    <input aria-label="search"
           type="search"
           class="p-search-box__input"
           name="search"
           placeholder="Search"
           required
           autocomplete="on">
    <button type="reset" class="p-search-box__reset">
      <i class="p-icon--close"></i>
    </button>
    <button type="submit" class="p-search-box__button">
      <i class="p-icon--search"></i>
    </button>
  </form>
  {% include "_agents_table.html" %}
{% endblock content %}
