{% extends 'base.html' %}
{% set active_page = 'jobs' %}
{% block content %}
<div class="p-strip is-shallow">
    <div class="row">
        <h1 class="p-heading--3">
            Job Detail - {{ job.job_id }}
        </h1>
    </div>
</div>
<table aria-label="Agent table" class="p-table--mobile-card">
    <tbody>
        <tr>
            <td>Queue</td>
            <td>{{ job.job_data.job_queue }}</td>
        </tr>
        <tr>
            <td>State</td>
            <td>{{ job.result_data.job_state }}</td>
        </tr>
        <tr>
            <td>Created At</td>
            <td>{{ job.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</td>
        </tr>
    </tbody>
</table>


<h2 class="p-muted-heading">Job Definition</h2>
<div class="p-code-snippet">
    <div class="p-code-snippet__header">
        <h5 class="p-code-snippet__title">Provision Data</h5>
    </div>
    <pre class="p-code-snippet__block--numbered language-yaml">
        <code>
{{ job.job_data.provision_data }}
        </code>
    </pre>
</div>
{% if job.job_data.firmware_update_data %}
<div class="p-code-snippet">
    <div class="p-code-snippet__header">
        <h5 class="p-code-snippet__title">Firmware Update Data</h5>
    </div>
    <pre class="p-code-snippet__block--numbered language-yaml">
        <code>
{{ job.job_data.firmware_update_data }}
        </code>
    </pre>
</div>
{% endif %}
{% if job.job_data.test_data %}
<div class="p-code-snippet">
    <div class="p-code-snippet__header">
        <h5 class="p-code-snippet__title">Test Commands</h5>
    </div>
    <pre class="p-code-snippet__block--numbered">
        <code>
{{ job.job_data.test_data.test_cmds }}
        </code>
    </pre>
</div>
{% endif %}

<h2 class="p-muted-heading">Provision Phase</h2>
provision_status: {{ job.result_data.provision_status }}<br>
provision_output:
<div class="center scrollable">
    <span style="white-space: pre-line">
        {{ job.result_data.provision_output }}
    </span>
</div>

<h2 class="p-muted-heading">Firmware Update Phase</h2>
firmware_update_status: {{ job.result_data.firmware_update_status }}<br>
firmware_update_output:
<div class="center scrollable">
    <span style="white-space: pre-line">
        {{ job.result_data.firmware_update_output }}
    </span>
</div>

<h2 class="p-muted-heading">Test Phase</h2>
test_status: {{ job.result_data.test_status }}<br>
test_output:
<div class="center scrollable">
    <span style="white-space: pre-line">
        {{ job.result_data.test_output }}
    </span>
</div>

<script type="text/javascript" src="/static/assets/js/filter.js"></script>
{% endblock %}