{% extends 'base.html' %}
{% set active_page = 'jobs' %}
{% block content %}
<div class="p-strip is-shallow">
    <div class="row">
        <h1 class="p-heading--3">
            Jobs
        </h1>
    </div>
</div>
<table aria-label="Jobs table" class="p-table--mobile-card">
    <thead>
        <tr>
            <th>Job ID</th>
            <th>Queue</th>
            <th>State</th>
            <th>Created at</th>
        </tr>
    </thead>
    <tbody>
        {% for job in jobs %}
        <tr>
            <td><a href="/jobs/{{ job.job_id}}">{{ job.job_id }}</a></td>
            <td>{{ job.job_data.job_queue}}</td>
            <td>{{ job.result_data.job_state }}</td>
            <td>{{ job.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}