{% extends 'base.html' %}
{% set active_page = 'queues' %}
{% block content %}
<div class="p-strip is-shallow">
    <div class="row">
        <h1 class="p-heading--3">
            Queue Detail - {{ queue.name }}
        </h1>
    </div>
</div>
<table aria-label="Agent table" class="p-table--mobile-card">
    <tbody>
        <tr>
            <td>Description</td>
            <td>{{ queue.description }}</td>
        </tr>
    </tbody>
</table>
<table aria-label="Agents table" class="p-table--mobile-card">
    <thead>
        <tr>
            <th>Job ID</th>
            <th>State</th>
            <th>Created At</th>
        </tr>
    </thead>
    <tbody>
        {% for job in jobs %}
        <tr class="tr-highlight">
            <td><a href="/jobs/{{ job.job_id}}">{{ job.job_id }}</a></td>
            <td>{{ job.result_data.job_state }}</td>
            <td>{{ job.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}