{% extends "base.html" %}
{% set active_page = "queues" %}
{% block content %}
  <div class="p-strip is-shallow">
    <div class="row">
      <h1 class="p-heading--3">
        Queues
        <a href="https://testflinger.readthedocs.io/en/latest/explanation/queues/"
           target="_blank">
          <i class="p-icon--help"></i>
        </a>
      </h1>
    </div>
  </div>
  <form class="p-search-box">
    <input aria-label="search"
           type="search"
           class="p-search-box__input"
           name="search"
           placeholder="Search"
           required
           autocomplete="on">
    <button type="reset" class="p-search-box__reset">
      <i class="p-icon--close"></i>
    </button>
    <button type="submit" class="p-search-box__button">
      <i class="p-icon--search"></i>
    </button>
  </form>
  <table aria-label="Queues table" class="p-table--mobile-card">
    <thead>
      <tr>
        <th>Name</th>
        <th>Number of jobs</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {% for queue in queues %}
        <tr class="searchable-row">
          <td>
            <a href="{{ url_for('queue_detail', queue_name=queue.name) }}">{{ queue.name }}</a>
          </td>
          <td>{{ queue.numjobs }}</td>
          <td>{{ queue.description }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
