[tool.setuptools]
packages = ["testflinger_common"]

[tool.poetry]
name = "testflinger-common"
description = "Testflinger common modules"
readme = "README.md"
version = "1.1.0"
authors = []

[tool.poetry.dependencies]
python = "^3.8"        # specify your Python version requirement here
strenum = "^0.4.15"

[tool.poetry.dev-dependencies]
pytest = "^8.1.2"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 79
