name: Check Agent Host Charm Libs on Pull Request
permissions:
  contents: read
  pull-requests: write
on:
  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/agent-host-charm-check-libs.yml
      - agent/charms/testflinger-agent-host-charm/**
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Check charm libraries
    runs-on: [self-hosted, linux, jammy, X64]
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          fetch-depth: 0
      - name: Check libraries
        uses: canonical/charming-actions/check-libraries@bc8d4ee58ddf99c6f13fc80e8a14dfe1e68a8ea6 # 2.7.0
        with:
          charm-path: agent/charms/testflinger-agent-host-charm
          credentials: "${{ secrets.CHARMHUB_TOKEN }}"
          github-token: "${{ secrets.GITHUB_TOKEN }}"
