name: Check Agent Host Charm Libs on Pull Request

on: 
  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/agent-host-charm-check-libs.yml
      - agent/charms/testflinger-agent-host-charm/**
  workflow_dispatch:

jobs:
  build:
    name: Check charm libraries
    runs-on: [self-hosted, linux, jammy, X64]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  
      - name: Check libraries
        uses: canonical/charming-actions/check-libraries@2.7.0
        with:
          charm-path: agent/charms/testflinger-agent-host-charm
          credentials: "${{ secrets.CHARMHUB_TOKEN }}"
          github-token: "${{ secrets.GITHUB_TOKEN }}"
