name: "[agent] Run unit tests"

on:
  push:
    branches: [ main ]
    paths:
      - agent/**
      - .github/workflows/agent-tox.yml
  pull_request:
    branches: [ main ]
    paths:
      - agent/**
      - .github/workflows/agent-tox.yml

jobs:
  build:
    defaults:
      run:
        working-directory: agent
    runs-on: [self-hosted, linux, jammy, X64]
    steps:
    - uses: actions/checkout@v4
    - name: Install uv and set up Python
      uses: astral-sh/setup-uv@0c5e2b8115b80b4c7c5ddf6ffdd634974642d182 # v5
    - name: Install concierge
      run: sudo snap install --classic concierge
    - name: Prepare Juju
      run: sudo concierge prepare --verbose --juju-channel=3/stable --charmcraft-channel=3.x/stable -p machine
    - name: Run tests
      run: uvx --with tox-uv tox
