name: Release testflinger-agent-host charm
permissions:
  contents: read
on:
  push:
    branches: [main]
    paths:
      - agent/charms/testflinger-agent-host-charm/**
      - .github/workflows/agent-host-charm-release.yml
  workflow_dispatch:
    inputs:
      channel:
        description: The channel to release the charm to
        required: true
        default: latest/edge
        type: choice
        options:
          - latest/beta
          - latest/edge

jobs:
  agent-build-and-push-charm:
    name: Build and Push Charm
    runs-on: [self-hosted, linux, jammy, X64]
    permissions:
      actions: read
      contents: write
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4
        with:
          persist-credentials: false

      - name: Upload charm to charmhub
        uses: canonical/charming-actions/upload-charm@1753e0803f70445132e92acd45c905aba6473225 # 2.7.0
        with:
          charm-path: agent/charms/testflinger-agent-host-charm
          credentials: "${{ secrets.CHARMHUB_TOKEN }}"
          github-token: "${{ secrets.GITHUB_TOKEN }}"
          channel: ${{ github.event_name == 'push' && 'latest/beta' || github.event.inputs.channel }}
          tag-prefix: "agent-host-charm"
