name: Build testflinger-testenv container image
permissions:
  contents: read
on:
  push:
    branches: [main]
    paths:
      - agent/extra/testflinger-testenv/**
      - .github/workflows/build-testflinger-testenv-container.yml
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}/testflinger-testenv

jobs:
  build-testflinger-testenv:
    name: Build testflinger-testenv
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write  # necessary to upload package to ghcr

    strategy:
      matrix:
        version: [focal, jammy, noble]

    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
        with:
          cache-binary: false
          config-inline: |
            [registry."docker.io"]
              mirrors = ["https://github-runner-dockerhub-cache.canonical.com:5000"]

      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd  # v5.0.1
        with:
          persist-credentials: false

      - name: Log in to the Container registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: ${{ matrix.version }}

      - name: Build and push backend Docker image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: ./agent/extra/testflinger-testenv
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            BASE_IMAGE=ubuntu:${{ matrix.version }}
