name: Auto-update Charm Libraries
permissions:
  contents: read
on:
  workflow_dispatch:
  schedule:
    # Checks regularly the upstream every four hours
    - cron: "0 */4 * * *"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  update-lib:
    permissions:
      contents: write  # necessary to create branches
      pull-requests: write  # necessary to create PR with updated libs
    strategy:
      fail-fast: false  # Allow all jobs to run even if one fails
      matrix:
        include:
          - charm-path: server/charm
            git-branch: chore/auto-libs-server
          - charm-path: agent/charms/testflinger-agent-host-charm
            git-branch: chore/auto-libs-agent
    name: Check libraries
    uses: canonical/observability/.github/workflows/charm-update-libs.yaml@78f655bd7446ee040b26cfe5d2e095b6dfdc3423 # v1
    secrets:
      CHARMHUB_TOKEN: ${{ secrets.CHARMHUB_TOKEN }}
      OBSERVABILITY_NOCTUA_TOKEN: ${{ secrets.OBSERVABILITY_NOCTUA_TOKEN }}
      NOCTUA_GPG_PRIVATE: ${{ secrets.NOCTUA_GPG_PRIVATE }}
      NOCTUA_GPG_PASSPHRASE: ${{ secrets.NOCTUA_GPG_PASSPHRASE }}
    with:
      charm-path: ${{ matrix.charm-path }}
      git-branch: ${{ matrix.git-branch }}
      commit-username: Canonical-Certification-Bot
      commit-email: solutions-qa@lists.canonical.com
