name: Auto-update Charm Libraries
permissions:
  contents: write
  pull-requests: write
on:
  workflow_dispatch:
  schedule:
    # Checks regularly the upstream every four hours
    - cron: "0 */4 * * *"

jobs:
  update-lib:
    strategy:
      matrix:
        include:
          - charm-path: server/charm
            git-branch: chore/auto-libs-server
          - charm-path: agent/charms/testflinger-agent-host-charm
            git-branch: chore/auto-libs-agent
    name: Check libraries
    uses: canonical/observability/.github/workflows/charm-update-libs.yaml@136b5a184db3ced27d1c2dc20b886f5e6ba2039a # v1
    secrets:
      CHARMHUB_TOKEN: ${{ secrets.CHARMHUB_TOKEN }}
      OBSERVABILITY_NOCTUA_TOKEN: ${{ secrets.OBSERVABILITY_NOCTUA_TOKEN }}
      NOCTUA_GPG_PRIVATE: ${{ secrets.NOCTUA_GPG_PRIVATE }}
      NOCTUA_GPG_PASSPHRASE: ${{ secrets.NOCTUA_GPG_PASSPHRASE }}
    with:
      charm-path: ${{ matrix.charm-path }}
      git-branch: ${{ matrix.git-branch }}
      commit-username: Canonical-Certification-Bot
      commit-email: solutions-qa@lists.canonical.com
