name: "[cli] Run unit tests"
permissions:
  contents: read
on:
  workflow_dispatch:
  push:
    branches: [main]
    paths:
      - .github/workflows/cli-tox.yml
      - cli/**
  pull_request:
    branches: ["**"]
    paths:
      - .github/workflows/cli-tox.yml
      - cli/**

jobs:
  test:
    name: Run unit tests
    defaults:
      run:
        working-directory: cli
    runs-on: [self-hosted, linux, jammy, X64]
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          persist-credentials: false
      - name: Install uv and set the Python version
        uses: astral-sh/setup-uv@6b9c6063abd6010835644d4c2e1bef4cf5cd0fca # v6
      - name: Check lock file
        run: uvx --with tox-uv tox -e lock
      - name: Check formatting
        run: uvx --with tox-uv tox -e format
      - name: Check linting
        run: uvx --with tox-uv tox -e lint
      - name: Run unit tests
        run: uvx --with tox-uv tox -e unit
