name: Build Testflinger CLI
permissions:
  contents: read
on:
  pull_request:
    paths:
      - cli/**
      - .github/workflows/cli-publish-snap.yml
  push:
    branches: ["main"]
    paths:
      - cli/**
      - .github/workflows/cli-publish-snap.yml
  workflow_dispatch:
    inputs:
      publish:
        description: Publish the snap to the store
        required: false
        default: false
        type: boolean
      release:
        description: The release channel to publish to
        required: false
        default: edge
        type: choice
        options:
          - beta
          - edge

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  snap:
    name: Snap
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
        with:
          persist-credentials: false
      - name: Build snap
        id: build
        uses: snapcore/action-build@3bdaa03e1ba6bf59a65f84a751d943d549a54e79 # v1
        with:
          path: cli
      - name: Upload snapcraft logs
        if: failure()
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: runtime-build-log
          path: |
            /home/runner/.cache/snapcraft/log/
            /home/runner/.local/state/snapcraft/log/
      - name: Upload artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: testflinger-cli.snap
          path: ${{ steps.build.outputs.snap }}
      - name: Publish snap
        if: ${{ github.ref == 'refs/heads/main' || github.event_name == 'workflow_dispatch' && github.event.inputs.publish == 'true' }}
        uses: snapcore/action-publish@214b86e5ca036ead1668c79afb81e550e6c54d40 # v1
        env:
          SNAPCRAFT_STORE_CREDENTIALS: ${{ secrets.SNAP_STORE_LOGIN }}
        with:
          snap: ${{ steps.build.outputs.snap }}
          release: ${{ github.event_name == 'push' && 'beta' || github.event.inputs.release }}
