name: "[device-connectors] Run unit tests"

on:
  push:
    branches: [ main ]
    paths:
      - device-connectors/**
  pull_request:
    branches: [ main ]
    paths:
      - device-connectors/**

jobs:
  build:
    defaults:
      run:
        working-directory: device-connectors
    runs-on: [self-hosted, linux, X64]
    strategy:
      matrix:
        python: ["3.8", "3.10"]
    steps:
    - uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python }}
    - name: Install tox
      run: pip install tox
    - name: Run tests
      run: |
        tox
