name: "[device-connectors] Run unit tests"
permissions:
  contents: read
on:
  workflow_dispatch:
  push:
    branches: [main]
    paths:
      - .github/workflows/device-tox.yml
      - device-connectors/**
      - codecov.yaml
  pull_request:
    paths:
      - .github/workflows/device-tox.yml
      - device-connectors/**
      - codecov.yaml

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Run unit tests
    defaults:
      run:
        working-directory: device-connectors
    runs-on: [self-hosted, linux, jammy, X64]
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0
        with:
          persist-credentials: false
      - name: Install uv and set up Python
        uses: astral-sh/setup-uv@b75a909f75acd358c2196fb9a5f1299a9a8868a4 # v6.7.0
      - name: Check lock file
        run: uvx --with tox-uv tox -e lock
      - name: Check formatting
        run: uvx --with tox-uv tox -e format
      - name: Check linting
        run: uvx --with tox-uv tox -e lint
      - name: Run unit tests
        run: uvx --with tox-uv tox -e unit
      - name: Upload coverage
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          files: coverage.xml
          flags: device
          token: ${{ secrets.CODECOV_TOKEN }}
