name: "[server] Run unit tests"
permissions:
  contents: read
on:
  workflow_dispatch:
  push:
    branches: [main]
    paths:
      - .github/workflows/server-tox.yml
      - server/**
      - codecov.yaml
  pull_request:
    paths:
      - .github/workflows/server-tox.yml
      - server/**
      - codecov.yaml

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Run unit tests
    defaults:
      run:
        working-directory: server
    runs-on: [self-hosted, linux, jammy, X64]
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0
        with:
          persist-credentials: false
      - name: Install uv and set up Python
        uses: astral-sh/setup-uv@b75a909f75acd358c2196fb9a5f1299a9a8868a4 # v6.7.0
      - name: Check lock file
        run: uvx --with tox-uv tox -e lock
      - name: Check formatting
        run: uvx --with tox-uv tox -e format
      - name: Check linting
        run: uvx --with tox-uv tox -e lint
      - name: Run unit tests
        run: uvx --with tox-uv tox -e unit
      - name: Upload coverage
        uses: codecov/codecov-action@18283e04ce6e62d37312384ff67231eb8fd56d24 # v5.4.3
        with:
          files: coverage.xml
          flags: server
          token: ${{ secrets.CODECOV_TOKEN }}

  test_charm:
    name: Run charm tests
    defaults:
      run:
        working-directory: agent
    runs-on: [self-hosted, linux, jammy, X64]
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0
        with:
          persist-credentials: false
      - name: Install uv and set up Python
        uses: astral-sh/setup-uv@b75a909f75acd358c2196fb9a5f1299a9a8868a4 # v6.7.0
      - name: Install concierge
        run: sudo snap install --classic concierge
      - name: Prepare Juju
        run: sudo concierge prepare --verbose --juju-channel=3/stable --charmcraft-channel=latest/stable -p machine
      - name: Run charm tests
        run: uvx --with tox-uv tox -e charm
