name: Check Server Charm Libs on Pull Request
permissions:
  contents: read
on:
  pull_request:
    paths:
      - .github/workflows/server-charm-check-libs.yml
      - server/charm/**
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Check charm libraries
    runs-on: [self-hosted, linux, jammy, X64]
    permissions:
      contents: read
      pull-requests: write  # necessary to add label
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Check libraries
        uses: canonical/charming-actions/check-libraries@1753e0803f70445132e92acd45c905aba6473225 # 2.7.0
        with:
          charm-path: server/charm
          credentials: "${{ secrets.CHARMHUB_TOKEN }}"
          github-token: "${{ secrets.GITHUB_TOKEN }}"
