name: Create version tag for the submit action
permissions:
  contents: read
on:
  push:
    branches:
      - main
    paths:
      - .github/actions/submit/action.yaml
      - .github/actions/testflinger-setup/action.yaml

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  auto-tag-submit-action:
    name: Create version tag for the submit action
    runs-on: ubuntu-latest
    permissions:
      contents: write  # necessary for writing tag

    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
        with:
          fetch-depth: 0  # necessary for semantic versioning
          filter: blob:none # exclude file contents for faster checkout
          persist-credentials: true  # necessary for pushing tags

      - name: Generate semantic version
        id: version
        uses: PaulHatch/semantic-version@f29500c9d60a99ed5168e39ee367e0976884c46e  # v6.0.1
        with:
          tag_prefix: "submit/v"
          major_pattern: "breaking(submit):"
          minor_pattern: "feat(submit):"
          change_path: ".github/actions/submit/ .github/actions/testflinger-setup/"
          search_commit_body: true
          enable_prerelease_mode: false

      - name: Create and push tag
        env:
          TAG: ${{ steps.version.outputs.version_tag }}
        run: |          
          echo ::group::Create tag
          git tag "$TAG"
          echo ::endgroup::
          echo ::notice::"$TAG"
          echo ::group::Push tag
          git push origin $TAG
          echo ::endgroup::
