name: Create version tag for the submit action
permissions:
  contents: read
on:
  push:
    branches:
      - main
    paths:
      - .github/actions/submit/action.yaml

jobs:
  auto-tag-submit-action:
    name: Create version tag for the submit action
    runs-on: ubuntu-latest
    permissions:
      contents: write  # necessary for writing tag

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # necessary for semantic versioning
          persist-credentials: true  # necessary for pushing tags

      - name: Generate semantic version
        id: version
        uses: PaulHatch/semantic-version@a8f8f59fd7f0625188492e945240f12d7ad2dca3  # v5.4.0
        with:
          namespace: "submit"
          major_pattern: "breaking(submit):"
          minor_pattern: "feat(submit):"
          search_commit_body: true
          enable_prerelease_mode: false

      - name: Create and push tag
        env:
          TAG: ${{ steps.version.outputs.version_tag }}
        run: |          
          echo ::group::Create tag
          git tag "$TAG"
          echo ::endgroup::
          echo ::notice::"$TAG"
          echo ::group::Push tag
          git push origin $TAG
          echo ::endgroup::
